# Preseed v1.1

# Installer boot menu: [e]
# append 'auto url...' to: linux /install.amd/vmlinuz quiet auto url=https://clintsrc.github.io/otto/preseed.cfg
# [F10] to continue

### Localization
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/layoutcode string us

##### Timezone #####
d-i time/zone string US/Pacific

### Network
# d-i netcfg/choose_interface select auto

### Mirror
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

### Users
##### Bypass root user #####
d-i passwd/root-login boolean false
d-i passwd/make-user boolean true
##### User setup #####
d-i passwd/user-fullname string Clint Jones
d-i passwd/username string cjones
d-i passwd/user-password password changeme
d-i passwd/user-password-again password changeme
d-i passwd/user-password-weak boolean true
d-i passwd/allow-password-weak boolean true
d-i user-setup/allow-password-weak boolean true
d-i preseed/late_command string \
  in-target chage -d 0 cjones

### Disk Setup
d-i partman-auto/disk string /dev/nvme0n1
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-partitioning/confirm_write_new_label boolean true

### Partitioning Method
d-i partman-auto/method string crypto
d-i partman-crypto/passphrase password MySecurePass123
d-i partman-crypto/passphrase-again password MySecurePass123
d-i partman-auto-lvm/guided_size string max

### Expert recipe defining partitions and LVs
d-i partman-auto/expert_recipe string                         \
  secure-lvm ::                                              \
    512 512 512 fat32                                        \
        $primary{ } $bootable{ } method{ efi } format{ }    \
        use_filesystem{ } filesystem{ fat32 } mountpoint{ /boot/efi } . \
    512 512 512 ext4                                         \
        $primary{ } method{ format } format{ }              \
        use_filesystem{ } filesystem{ ext4 } mountpoint{ /boot } . \
    30000 30000 -1 crypto                                    \
        $lvmok{ } method{ crypto } format{ }                \
        lv_name{ root } size{ 30000 } filesystem{ ext4 } mountpoint{ / } . \
        lv_name{ swap } size{ 8192 } filesystem{ swap } .   \
        lv_name{ home } size{ -1 } filesystem{ ext4 } mountpoint{ /home } .

### Select recipe
d-i partman-auto/choose_recipe select secure-lvm
d-i partman-auto/confirm boolean true
d-i partman-auto/confirm_nooverwrite boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman/confirm boolean true
d-i partman/choose_partition select finish

##### Package selection #####
tasksel tasksel/first multiselect standard, cinnamon-desktop, ssh-server
d-i pkgsel/include string sudo
popularity-contest popularity-contest/participate boolean false

### Finish
d-i finish-install/reboot_in_progress note
